<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.manangatangy.kidspend"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="3"/>
    <application
        android:label="@string/app_name"
        android:icon="@drawable/blueface">

        <activity android:name="SpendManager"
                  android:label="@string/spendManagerTitle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="SpendAdder" android:label="@string/spendAdderTitle">
        </activity>

        <activity android:name="RepeatManager" android:label="@string/listRepeatButtonLabel">
        </activity>

        <activity android:name="SpendTotals" android:label="@string/spendTotalsTitle">
        </activity>

        <provider android:name="SpendProvider" android:authorities="com.manangatangy.kidspend.SpendProvider">
        </provider>

    </application>
</manifest>
